name: CI

on:
  push:
    branches: main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mago:
    name: Run Mago Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP with Composer cache
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4" # Or your project's version
          coverage: none
          tools: composer
        env:
          COMPOSER_ALLOW_SUPERUSER: 1

      - name: Install Composer Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run Mago
        run: |
          vendor/bin/mago format --dry-run
          vendor/bin/mago lint --reporting-format=github
          vendor/bin/mago analyze --reporting-format=github

  tests:
    name: PHP ${{ matrix.php }} Tests
    needs: mago
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.2, 8.3, 8.4, 8.5, 8.6]
        include:
          - php: 8.6
            composer-options: '--ignore-platform-req=php+'

    steps:
      - uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-environment
        with:
          php-version: ${{ matrix.php }}
          composer-options: ${{ matrix.composer-options }}

      - name: Run Tests
        run: |
          composer analyse
          composer test:ci

      - name: Upload Code Coverage
        uses: codecov/codecov-action@v5
        if: ${{ matrix.php == 8.3 }}
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  # format:
  #   name: Format Code
  #   needs: php-tests
  #   runs-on: ubuntu-latest

  #   permissions:
  #     contents: write

  #   steps:
  #     - uses: actions/checkout@v6

  #     - name: Setup Environment
  #       uses: ./.github/actions/setup-environment

  #     - name: Format Code
  #       run: composer format

  #     - name: Commit linted files
  #       uses: stefanzweifel/git-auto-commit-action@v7
  #       with:
  #         commit_message: Format Code
  #         file_pattern: 'src/*.php tests/*.php'
